/* CSS declarations go here */

#map{
/*  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  height: 990px;
  width: 100%;
  border-bottom: 1px solid black;
}

.leaflet-container {
    background: #fff;
}

.areaCounter {
  color: white;
}

.event-log {
  height: 300px;
  overflow-y: scroll;
  border-top: 1px solid black;
}

.green-objective {
  -filter: sepia(100%) hue-rotate(80deg) brightness(100%) saturate(300%);
  -moz-filter: sepia(100%) hue-rotate(80deg) brightness(100%) saturate(300%);
  -webkit-filter: sepia(100%) hue-rotate(80deg) brightness(100%) saturate(300%);
}

.blue-objective {
  -filter: sepia(100%) hue-rotate(160deg) brightness(110%) saturate(300%);
  -webkit-filter: sepia(100%) hue-rotate(160deg) brightness(110%) saturate(300%);
  -moz-filter: sepia(100%) hue-rotate(160deg) brightness(110%) saturate(300%);
}

.red-objective {
  -filter: sepia(100%) hue-rotate(320deg) brightness(90%) saturate(300%);
  -webkit-filter: sepia(100%) hue-rotate(320deg) brightness(90%) saturate(300%);
  -moz-filter: sepia(100%) hue-rotate(320deg) brightness(90%) saturate(300%);
}

.just-changed {
  animation: blink 1s;
    animation-iteration-count: 3;
}

.neutral-objective {
  -filter: none;
}

.mapbutton {
  font-size: 24px;
  color: white;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes sharp-blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.objective_popup {
  min-width: 200px;
}
