<template name="about">
	<h1>Welcome!</h1>
	<p>This is a prototype of a tool to keep track of WvW scouting, upgrading, and roaming coverage in Guild Wars 2. Contingent on usuage/interest, development will be ongoing.</p>

	<h2>How to use:</h2>

	<p>Right now there is basically one feature: you can add your name (honor system for now) to an objective by clicking that objective icon on the map, putting your name in the box, and clicking "Add". This designates that you are upgrading that objective, or scouting/roaming nearby. When finished, kindly remove your name from the list by clicking the minus sign next to your name.</p>

	<h2>Future Plans:</h2>

	<ul>
		<li>User signup and authentication, so that one can create a profile and we can control who can use and see the system.</li>
		<li>Change icon colors based on current objective owner.</li>
		<li>List currently finished (and in progress) upgrades of the various objectives.</li>
		<li>Differentiate between servers, so all can use and enjoy.</li>
	</ul>

	<hr>

	<p>Created by "DasMoose" for the amazing Gate of Madness server :)</p>
	<p>If you want to help/contribute or just peruse the code, you can check the <a href="https://github.com/jtanderson/wvwtracker">Github page</a>.</p>
</template>
